<h1>Stupid Coaching</h1>

<div class="container">
  <p> <%= @question %> </p>
  <p>-You</p>
</div>


<div class="container">
  <p> <%= @answer %> </h1>
  <p>-Your coach</p>
</div>



<%= link_to "Would you like to ask anything else?", ask_path %>

